<!DOCTYPE html>
<html>

<head>
    <title>Results</title>
</head>

<body>
    <p>
        Results
    </p>
    <table>
        <thead>
            <tr>
                <th>Qname</th>
                <th>Rtype</th>
                <th>Nameserver</th>
                <th>Ans/Err</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {{ $params := .Params }}

            {{ $results := .Results }}
            {{ range $idx, $e := .Params }}

            {{ $param := (index $params $idx) }}
            {{ $result := (index $results $idx) }}


            <tr>
                <td> {{ $param.DigOneParams.Qname }} </td>
                <td>{{ $param.DigOneParams.Rtype }}</td>
                <td>{{ $param.DigOneParams.NameserverIPPort }}</td>
                {{ range $result.Answers }}
                <td>{{ .StringSlice }}</td>
                <td>{{ .Count }}</td>
                {{ end}}
                {{ range $result.Errors }}
            <tr>
                <td> {{ $param.DigOneParams.Qname }} </td>
                <td>{{ $param.DigOneParams.Rtype }}</td>
                <td>{{ $param.DigOneParams.NameserverIPPort }}</td>
                <td>{{ .String }}</td>
                <td>{{ .Count }}</td>
            </tr>
            {{ end }}
            </tr>

            {{ end}}
        </tbody>
    </table>
</body>

</html>