<!DOCTYPE html>
<html>

<head>
    <title>Results</title>
</head>

<body>
    <p>
        Results
    </p>
    <table>
        <thead>
            <tr>
                <th>Ans/Err<br></th>
                <th>Count<br></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>www.linkedin.cn</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>www-linkedin-com</td>
                <td>Y</td>
            </tr>
        </tbody>
    </table>
</body>

</html>