<!DOCTYPE html>
<html>

<head>
    <title>Results</title>
    <link rel="stylesheet" href="/static/index.css" type="text/css">
</head>

<body>
    <h1>Results</h1>
    <table>
        <thead>
            <tr>
                <th>Qname</th>
                <th>Rtype</th>
                <th>Nameserver</th>
                <th>Ans/Err with Count</th>
            </tr>
        </thead>
        <tbody>
            {{ $td := .}}
            {{range $row := $td.Rows}}
            <tr>
                {{range $col := $row.Columns}}
                <td rowspan="{{$col.Rowspan}}">{{$col.Content}}</td>
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>
</body>

</html>