h1,
h2 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
}

form label {
    text-align: right;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

thead th,
tbody td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

.loading-spinner {
    display: none;
}

/* https://www.w3schools.com/howto/howto_css_image_center.asp */
.htmx-request .loading-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.htmx-request.loading-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#motd {
    text-align: center;
}